@import url(//db.onlinewebfonts.com/c/f3258385782c4c96aa24fe8b5d5f9782?family=Old+English+Text+MT);
@font-face {font-family: "Old English Text MT"; src: url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.eot"); src: url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.woff") format("woff"), url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f3258385782c4c96aa24fe8b5d5f9782.svg#Old English Text MT") format("svg"); }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
html{
  overflow-x: hidden;
}
body{
  overflow-X: hidden;
  background-color: white;
}
img{
  width: 200%;
  height: 100%;
  object-fit: contain;
}
:root{
  --font-color: white;
  --font-style: "Courier New", Courier, Monaco;
  --font-size1: 32px;
  --font-size2: 16px;
}

.container{
  position: relative;
  min-width: 100%;
  min-height: 85vh;
  
}

.header{
  display: flex;
  min-width: 100vw;
  min-height: 15vh;
  flex-direction: column;
  justify-content: space-between;
}

h1{
  font-style: var(--font-style);
  font-weight:200;
}

.header-text{
  font-family: var(--font-style);
  font-size:var(--font-size2)
}
.logo{
  position: absolute;
  width: 100%;
  height: 100%;
}

.item{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 33.3%;
}

.position-1{
  position: absolute;
  top: 52%;
  right: 6%;
  transform: rotateY(-38deg);
  display: flex;
  flex-direction: column;
}

.a-style{
  text-decoration: none;
}

.book-text1{
  color: var(--font-color);
  font-family: var(--font-style);
  font-size:var(--font-size1)
}

.book-text1:hover{
  border-bottom: solid white;
}

.book-text2{
  color: var(--font-color);
  font-family: var(--font-style);
  font-size:var(--font-size2)
}
.image-container{
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate(-28%, 10%);
}

.center{
  align-self: center;
}

.collection-text{
  font-size: var(--font-size2);
  font-family: var(--font-style);
  font-weight: 400;
}

.body1{
  min-height: 85vh;
  position: relative;
}

.thePos{
  position: absolute;
  top: 10%
}

.conceptArt{
  position: absolute;
  width: 100%;
  top: 24%;
}

.box .conceptArt{
  position: relative ;
}

.footer{
  position: absolute;
  bottom: 3%;
  display: flex;
  flex-grow: 1;
  width: 100%;
}
.foot-child{
position: absolute;
}

.foot-child:nth-child(2){
  position: absolute;
  right: 2%;
}
.body2{
  min-height: 100vh;
  position: relative;
}

.shop{
  position: relative;
  margin-top: 200px;
}

.box{
  border-top: solid 2px black;
}

.btn{
  background-color: indigo;
  color: white;
  width: 70px;
  height: 70px;
}

.liCls{
  list-style: none;
  border: solid 1px grey;
  width: 10%;
}

.itemTitle{

}

.description{

}

.dropdown{
  position: relative;
  margin: 16px;
}